:root {
    --font-family: 'Inter', sans-serif;
    --font-weight-primary: 600;
    --font-weight-secondary: 500;
    --font-weight-ternary: 400;
    --color-black-title: #101828;
    --color-paragraphy: #667085;
    --color-red-primary: #8E2424;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    padding: 1rem 0;
}

body nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body nav img {
    margin-right: 8px;
}

body nav h1 {
    font-size: 18px;
    font-weight: var(--font-weight-ternary);
    color: #3A404E;
    margin-right: 119px;
}

body nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body nav ul li {
    list-style-type: none;
    margin-right: 32px;
}

body nav a {
    text-decoration: none;
    color: var(--color-paragraphy);
    font-size: 16px;
    font-weight: var(--font-weight-ternary);
}

body nav button {
    margin-left: 30px;
    border-radius: 10px;
    background-color: var(--color-red-primary);
    padding: 10px 18px;
    color: #FFF;
    font-size: 16px;
    font-weight: var(--font-weight-ternary);
    border: none;
    cursor: pointer;
}

main .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
}

main .about span {
    color: var(--color-red-primary);
    font-weight: var(--font-weight-primary);
    font-size: 1rem;
    margin-bottom: 1rem;
}

main .about h1 {
    color: var(--color-black-title);
    font-weight: var(--font-weight-primary);
    font-size: 48px;
    margin-bottom: 2rem;
}

main .about p {
    color: var(--color-paragraphy);
    font-weight: var(--font-weight-ternary);
    max-width: 60vw;
}

main .measurements {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0 1rem 0 5rem;
    flex-wrap: wrap;
}

main .measurements div {
    text-align: left;
    width: 25%;
}

main .measurements h2 {
    color: var(--color-red-primary);
    font-weight: var(--font-weight-primary);
    font-size: 4rem;
    margin-bottom: 0.8rem;
}

main .measurements span {
    color: var(--color-black-title);
    font-weight: var(--font-weight-secondary);
    font-size: 1.2rem;
}

main .measurements p {
    color: var(--color-paragraphy);
    font-weight: var(--font-weight-ternary);
    font-size: 16px;
    margin-top: 0.5rem;
    width: 90%;
}

main .jobs-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 760px;
}

main .jobs-header span {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: var(--font-weight-secondary);
    color: var(--color-red-primary);
    background-color: rgba(142, 36, 36, 0.05);
    padding: 4px 12px;
    border-radius: 1rem;
}

main .jobs-header h2 {
    font-size: 2rem;
    color: var(--color-black-title);
    font-weight: var(--font-weight-primary);
    margin-bottom: 1.2rem;
}

main .jobs-header p {
    font-weight: var(--font-weight-ternary);
    font-size: 1.2rem;
    color: var(--color-paragraphy);
    margin-bottom: 4rem;
}

main .jobs-header img {
    object-fit: cover;
}