:root {
    --font-family: 'Inter', sans-serif;
    --font-weight-primary: 600;
    --font-weight-secondary: 500;
    --font-weight-ternary: 400;
    --color-black-title: #101828;
    --color-paragraphy: #667085;
    --color-red-primary: #8E2424;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    padding: 1rem 0 0 0;
}

body nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body nav img {
    margin-right: 8px;
}

body nav h1 {
    font-size: 18px;
    font-weight: var(--font-weight-ternary);
    color: #3A404E;
    margin-right: 119px;
}

body nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body nav ul li {
    list-style-type: none;
    margin-right: 32px;
}

body nav a {
    text-decoration: none;
    color: var(--color-paragraphy);
    font-size: 16px;
    font-weight: var(--font-weight-ternary);
}

body nav button {
    margin-left: 30px;
    border-radius: 10px;
    background-color: var(--color-red-primary);
    padding: 10px 18px;
    color: #FFF;
    font-size: 16px;
    font-weight: var(--font-weight-ternary);
    border: none;
    cursor: pointer;
}

main .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
}

main .about span {
    color: var(--color-red-primary);
    font-weight: var(--font-weight-primary);
    font-size: 1rem;
    margin-bottom: 1rem;
}

main .about h1 {
    color: var(--color-black-title);
    font-weight: var(--font-weight-primary);
    font-size: 48px;
    margin-bottom: 2rem;
}

main .about p {
    color: var(--color-paragraphy);
    font-weight: var(--font-weight-ternary);
    max-width: 60vw;
}

main .measurements {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0 1rem 0 5rem;
    margin-bottom: 10rem;
    flex-wrap: wrap;
}

main .measurements div {
    text-align: left;
    width: 25%;
}

main .measurements h2 {
    color: var(--color-red-primary);
    font-weight: var(--font-weight-primary);
    font-size: 4rem;
    margin-bottom: 0.8rem;
}

main .measurements span {
    color: var(--color-black-title);
    font-weight: var(--font-weight-secondary);
    font-size: 1.2rem;
}

main .measurements p {
    color: var(--color-paragraphy);
    font-weight: var(--font-weight-ternary);
    font-size: 16px;
    margin-top: 0.5rem;
    width: 90%;
}

main .jobs-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 760px;
    margin-top: 6rem;
}

main .jobs-header span {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: var(--font-weight-secondary);
    color: var(--color-red-primary);
    background-color: rgba(142, 36, 36, 0.05);
    padding: 4px 12px;
    border-radius: 1rem;
}

main .jobs-header h2 {
    font-size: 2rem;
    color: var(--color-black-title);
    font-weight: var(--font-weight-primary);
    margin-bottom: 1.2rem;
}

main .jobs-header p {
    font-weight: var(--font-weight-ternary);
    font-size: 1.2rem;
    color: var(--color-paragraphy);
    margin-bottom: 4rem;
}

main .jobs-header img {
    object-fit: cover;
}

main .jobs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .jobs .container-job {
    margin: 0 auto 4rem auto;
    width: 50%; 
}

main .jobs h2 {
    margin-bottom: 2rem;
    font-weight: var(--font-weight-secondary);
    font-size: 1.2rem;
    color: var(--color-black-title);
}

main .jobs .jobs-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem;
    border: 1px solid #EAECF0;
    border-radius: 1rem;
    height: 8.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    transition: all 0.5s;
}

main .jobs .jobs-card:hover, main .jobs .jobs-card:active {
    border: 1px solid var(--color-red-primary);
}

main .jobs .jobs-card h3 {
    font-weight: var(--font-weight-ternary);
    color: var(--color-black-title);
    font-size: 1.1rem;
}

main .jobs .informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 40%;
}

main .jobs .informations p {
    color: var(--color-paragraphy);
    font-size: 1rem;
    font-weight: var(--font-weight-ternary);
}

main .testimonial {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main .testimonial .container__testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(196, 25, 25, 0.03);
    margin-bottom: 6rem;
    width: 80%;
    padding: 4rem;
    text-align: center;
}

main .testimonial p {
    font-size: 0.8rem;
    font-weight: var(--font-weight-primary);
    color: var(--color-red-primary);
    margin-bottom: 1rem;
}

main .testimonial h2 {
    font-size: 2rem;
    color: var(--color-black-title);
    font-weight: var(--font-weight-secondary);
    margin-bottom: 2rem;
}

main .testimonial img {
    width: 3.5rem;
    margin-bottom: 1rem;
}

main .testmonial h4 {
    font-size: 1rem;
    font-weight: var(--font-weight-ternary);
    color: var(--color-black-title);
    margin-bottom: 0.25rem;
}

main .testimonial span {
    font-size: 0.8rem;
    color: var(--color-paragraphy);
    font-weight: var(--font-weight-ternary);
}

main .newsletter {
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 21rem;
}

main .newsletter .container__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .newsletter h2 {
    font-size: 2rem;
    color: var(--color-black-title);
    font-weight: var(--font-weight-secondary);
    margin-bottom: 1.2rem;
}

main .newsletter span {
    font-size: 1.2rem;
    color: var(--color-paragraphy);
    font-weight: var(--font-weight-ternary);
    margin-bottom: 2.2rem;
}

main .newsletter .joinNewsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

main .joinNewsletter input {
    padding: 12px 15px;
    background-color: #FFF;
    border: 1px solid #D0D5DD;
    border-radius: 0.5rem;
    width: 16rem;
    margin-right: 1rem;
    transition: all 0.5s;
}

main .joinNewsletter button {
    font-size: 1rem;
    color: #FFF;
    font-weight: var(--font-weight-secondary);
    padding: 0.8rem 1.2rem;
    background-color: var(--color-red-primary);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    cursor: pointer;
}

main .joinNewsletter input:hover, main .joinNewsletter input:active {
    border: 1px solid var(--color-red-primary);
}

main .newsletter p {
    font-size: 1rem;
    color: #98A2B3;
    font-weight: var(--font-weight-ternary);
}

@media screen and (max-width: 800px) {

    body nav ul, body nav div {
        display: none;
    }

    main .about p {
        font-size: 1.2rem;
        max-width: 82%;
    }

    main .measurements {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 0 1rem 2rem 4rem;
        height: 100vh;
        width: 100vw;
        flex-wrap: nowrap;
    }

    main .measurements div {
        width: 100%;
        text-align: left;
        margin-top: 2rem;
    }

    main .jobs-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    main .jobs-header p {
        width: 80%;
    }

    main .jobs-header img {
        width: 100vw;
        height: 16rem;
        object-fit: cover;
        object-position: left;
    }

    main .jobs .container-job {
        width: 90vw;
    }

    main .jobs .informations {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        width: 100%;
    }

    main .testimonial .container__testimonial {
        width: 100%;
    }

    main .testimonial p {
        font-size: 0.9rem;
    }

    main .testimonial h2 {
        font-size: 1.4rem;
    }

    main .newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 6rem;
    }

    main .newsletter .joinNewsletter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        width: 90%;
    }

}